[submodule "NeTEx"]
	path = NeTEx
	url = https://github.com/TransmodelEcosystem/NeTEx
	branch = v2.0
	ignore = dirty
[submodule "SIRI"]
	path = SIRI
	url = https://github.com/TransmodelEcosystem/SIRI
	branch = v2.2
	ignore = dirty
